doctype 5
html
  head
    title= title
    meta(name="csrf", content="#{settings.csrf}")
    link(rel="stylesheet", href="/bower_components/normalize-css/normalize.css")
    link(rel="stylesheet", href="/bower_components/vex/css/vex.css")
    link(rel="stylesheet", href="/bower_components/vex/css/vex-theme-plain.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    header
      nav
        ul
          li.home: a(href="/") Home
          //li.all_products: a(href="/products") All Instruments
          each val in nav
            li.product: a(href="/products/#{val.path}", path="#{val.path}")
              = val.category
      form(name="search_form", action="/search", method="post")
        input(type="text", name="search", value="#{search}", placeholder="Product Search...", autocomplete="off")
        input(type="submit", value="Search")
    div#content
      div.flash_message
      block content

    footer
    
    
    if settings.force_js_optimize || settings.env == 'production'
      script(type="text/javascript", src="/js/main-build.js", data-main="/js/main")
    else
      script(type="text/javascript", data-main="/js/main", src="/bower_components/requirejs/require.js")

